<div class="large-3 columns">
  <h1>
    {{#link-to 'index'}} <img src="https://placehold.it/400x100&text=Cronuts"/> {{/link-to}}
  </h1>
</div>
<nav class="large-9 columns">
  <ul class="inline-list right">
    <li><a href="#">Create new Task</a></li>
    <li><a href="#">Sign out</a></li>
  </ul>
</nav>
